USE [tienda]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 01/08/2025 10:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[categoriaId] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 01/08/2025 10:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[productoId] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[categoriaId] [int] NULL,
	[categoria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 01/08/2025 10:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[ventaId] [int] NOT NULL,
	[productoId] [int] NULL,
	[fechaVenta] [date] NULL,
	[cantidad] [int] NULL,
	[fecha_venta] [datetime2](6) NULL,
	[producto_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ventaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([categoriaId])
REFERENCES [dbo].[categoria] ([categoriaId])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FKodqr7965ok9rwquj1utiamt0m] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categoria] ([categoriaId])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FKodqr7965ok9rwquj1utiamt0m]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[producto] ([productoId])
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK1wljq30qekjupdmpom9laqr33] FOREIGN KEY([producto_id])
REFERENCES [dbo].[producto] ([productoId])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK1wljq30qekjupdmpom9laqr33]
GO
